.vscode/
env/
*.exe
*.pdf
datasets/
gpt-2/
*.key
*.jpg
*.mp4
*.mov
*.npy
*.zip
/american-sign-language_1
/ASLClassification
/datasetASL
/frontend/asl-converter/node_modules
/MS-ASL/validation_video_data
/yolov7
/ASLClassification
/datasetASL
ASLClassification.zip
/frontend/asl-converter/node_modules
/MS-ASL/validation_video_data
/asl-converter
/training_models/MODELS - past
/training_models/weights.01-0.10
/training_models/weights.08-0.12
